<?xml version="1.0" encoding="UTF-8"?>	
<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/security   
    http://www.springframework.org/schema/security/spring-security-3.0.xsd">  
    <http auto-config="true" access-denied-page="error.jsp">
    	<intercept-url pattern="/download.jsp" access="ROLE_USER"/>
    	<session-management session-fixation-protection="none">  
    	<concurrency-control/> 
</session-management>
    	<form-login login-page="/index.jsp"
    		authentication-failure-url="/error.jsp"
    		default-target-url="/success.jsp"
    	/>
    	<logout logout-success-url="/index.jsp" />
    		
    </http>
    <authentication-manager>
    	<authentication-provider>
    		<user-service>
    			<user name="user" authorities=""/>
    		</user-service>
    	</authentication-provider>
    </authentication-manager>
</beans:beans>
